/*****************************************
Table Of Contents:
- Core Setup
- General Styles
- Typography
- Menu Styles
- Section Styles
- Components
- Header
- Navigation
- Mobile Menu
- Hero Section
- About
- Pricing Table
- Services
- Testimonials
- Footer
- Animations
- Overlay Menu
******************************************/

/**********************/
/*     Core Setup     */
/**********************/

@import url("https://cdn.jsdelivr.net/gh/SebastianAigner/twemoji-amazing@1.0.0/twemoji-amazing.css");
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css");
@import url("https://use.typekit.net/svx2izk.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/**************************/
/*     General Styles     */
/**************************/
@layer base {
  body {
    @apply min-h-screen bg-dark-900 transition-all duration-150 ease-in-out;
  }
  * {
    @apply antialiased box-border;
  }
}

/**********************/
/*     Typography     */
/**********************/
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight mb-2
    transition-all duration-150 ease-in-out dark:text-white text-dark-700;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-sm;
  }
  p {
    @apply mb-4 leading-relaxed
    dark:text-dark-300 text-dark-600 transition-all duration-150 ease-in-out;
  }
  a {
    @apply text-brand hover:cursor-pointer underline font-semibold dark:hover:text-white transition-all duration-150 ease-in-out hover:text-dark-700;
  }
  li {
    @apply dark:text-dark-300 text-dark-600 transition-all duration-150 ease-in-out;
  }
}

/***********************/
/*     Menu Styles     */
/***********************/
@layer components {
  .menu {
    @apply flex flex-col;
  }

  .menu > li {
    @apply flex items-center hover:cursor-pointer overflow-hidden transition-all duration-150 ease-in-out;
  }
  .menu > li > span {
    @apply border-l-4 h-full flex items-center px-6 py-3 transition-all duration-150 ease-in-out font-semibold uppercase tracking-wide text-xs;
  }
}

/************************************/
/*     Section Component Styles     */
/************************************/
@layer components {
  .section-header {
    @apply mb-4;
  }
  .section-subhead {
    @apply mb-0 text-base;
  }
}

/**************************/
/*     Page Structure     */
/**************************/
@layer base {
  header {
    @apply fixed z-20 flex items-center w-full h-16 border-b md:relative dark:bg-dark-800 dark:border-dark-600 bg-white border-light-200 transition-all duration-150 ease-in-out;
  }

  main {
    @apply relative flex flex-col flex-1 md:overflow-hidden md:flex-row top-16 md:top-0;
  }

  aside {
    @apply fixed left-0 z-30 flex flex-col w-full h-full pb-6 pt-20 bg-dark-700 dark:bg-dark-700 border-t-0 border-b border-r-0 dark:border-dark-600 border-light-200 md:flex-grow md:border-b-0 transform transition-all duration-150 ease-in-out overflow-hidden md:w-64 top-0;
  }

  .section-header-wrapper {
    @apply relative flex flex-col p-6 border-b dark:bg-dark-800 dark:border-dark-600 bg-white border-light-200 md:border-t-0 transition-all duration-150 ease-in-out;
  }

  .input-column-wrapper {
    @apply flex flex-col flex-1 border-r-0 md:border-r dark:border-dark-600 dark:bg-dark-800 bg-white border-light-200 transition-all duration-150 ease-in-out;
  }

  .preview-column-wrapper {
    @apply relative flex flex-col flex-1 border-t dark:bg-dark-800 dark:border-dark-600 bg-light-100 border-light-200 md:border-t-0 transition-all duration-150 ease-in-out;
  }

  .preview-column-wrapper .buttons-wrapper {
    @apply relative p-6 gap-x-2 flex w-full dark:bg-dark-900 dark:border-dark-600 bg-light-100 border-light-200 transition-all duration-150 ease-in-out;
  }
}

/*****************************/
/*     Button Components     */
/*****************************/
@layer components {
  .btn-xs {
    @apply flex items-center px-2.5 py-2 text-xs font-semibold transition-all duration-150 ease-in-out rounded-md no-underline;
  }

  .btn-sm {
    @apply flex items-center px-3 py-2.5 text-xs font-semibold uppercase transition-all duration-150 ease-in-out rounded-md no-underline;
  }

  .btn-md {
    @apply flex items-center px-3 py-3 text-xs font-semibold uppercase transition-all duration-150 ease-in-out rounded-md no-underline;
  }

  .btn-lg {
    @apply flex items-center px-5 py-4 text-sm tracking-wider font-semibold uppercase transition-all duration-150 ease-in-out rounded-md no-underline;
  }

  .btn-square {
    @apply flex items-center justify-center h-9 w-6 transition-all duration-150 ease-in-out rounded-md;
  }
}

@layer components {
  .btn-brand {
    @apply bg-brand text-white
    dark:text-white hover:bg-brand-alt;
  }

  .btn-gray {
    @apply bg-light-200/50 dark:bg-dark-700
    text-dark-500 dark:text-dark-300
    hover:bg-light-200 dark:hover:bg-dark-600
    hover:text-dark-700 dark:hover:text-white;
  }

  .btn-gray-outline {
    @apply border border-light-200 dark:border-dark-600;
  }

  .btn-trans {
    @apply bg-transparent dark:bg-transparent
    text-dark-500 dark:text-dark-300
    hover:bg-transparent dark:hover:bg-transparent
    hover:text-dark-700 dark:hover:text-white;
  }

  .icon-size {
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/***********************/
/*     Form Styles     */
/***********************/
@layer components {
  .form-label {
    @apply flex items-center text-xs dark:text-white text-dark-700 font-semibold uppercase mb-2 self-start transition-all duration-150 ease-in-out;
  }

  .input-field {
    @apply appearance-none py-2 flex items-center flex-1 rounded-md
    text-sm placeholder:text-sm
    bg-white dark:bg-dark-900
    text-dark-700 dark:text-white
    placeholder:text-dark-400 dark:placeholder:text-dark-400
    border hover:border focus:border
    focus:ring-offset-transparent
    ring-0 focus:ring-0
    ring-offset-0 focus:ring-offset-0
    outline-none focus:outline-none 
    border-light-200 focus:border-light-400
    dark:border-dark-800 dark:focus:border-dark-700
    focus:placeholder:hidden
    box-border
   transition-all duration-150 ease-in-out;
  }

  .minimal-input-field {
    @apply appearance-none outline-none focus:outline-none py-2 text-sm flex items-center pr-2 flex-1
    bg-white dark:bg-dark-900
    text-dark-700 dark:text-white
    placeholder:text-dark-400 dark:placeholder:text-dark-400
    focus:placeholder:hidden focus:ring-offset-0 focus:ring-0
    transition-all duration-150 ease-in-out
    border-light-200 focus:border-light-400
    dark:border-dark-800 dark:focus:border-dark-700;
  }

  .checkbox-input {
    @apply mr-2 border rounded-sm appearance-none focus:outline-none focus:ring-0
    bg-white dark:bg-dark-900
    checked:bg-brand dark:checked:bg-brand
    checked:group-hover:bg-brand-alt checked:group-hover:border-brand-alt
    checked:border-brand dark:checked:border-brand
    checked:focus:bg-brand
    dark:group-hover:bg-dark-900 group-hover:bg-white
    disabled:group-hover:bg-white dark:disabled:group-hover:bg-dark-900
    border-light-400 dark:border-dark-500 dark:checked:group-hover:border-brand-alt dark:checked:group-hover:bg-brand-alt
    disabled:cursor-not-allowed
    focus:ring-offset-0
    transition-all duration-150 ease-in-out;
  }
}

/***************************/
/*     Preview Styles     */
/***************************/
@layer base {
  #preview-container {
    @apply px-6 pb-6 h-full overflow-y-auto dark:bg-dark-900 bg-light-100 dark:text-dark-300 transition-all duration-150 ease-in-out;
  }

  #preview-container p {
    @apply mb-0;
  }

  #markdown-container {
    @apply px-6 pb-6 overflow-y-auto h-full dark:bg-dark-900 bg-light-100 text-xs font-code text-dark-500 dark:text-dark-300 transition-all duration-150 ease-in-out;
  }
}

/****************************/
/*     Custom Dev Icons     */
/****************************/
@layer utilities {
  .c {
    @apply bg-[url('../public/icons/skills/c.svg')] dark:bg-[url('../public/icons/skills/c-dark.svg')];
  }
  .c.colored {
    @apply bg-[url('../public/icons/skills/c-colored.svg')];
  }
  .cplusplus {
    @apply bg-[url('../public/icons/skills/cplusplus.svg')] dark:bg-[url('../public/icons/skills/cplusplus-dark.svg')];
  }
  .cplusplus.colored {
    @apply bg-[url('../public/icons/skills/cplusplus-colored.svg')];
  }
  .csharp {
    @apply bg-[url('../public/icons/skills/csharp.svg')] dark:bg-[url('../public/icons/skills/csharp-dark.svg')];
  }
  .csharp.colored {
    @apply bg-[url('../public/icons/skills/csharp-colored.svg')];
  }
  .coffeescript {
    @apply bg-[url('../public/icons/skills/coffeescript.svg')] dark:bg-[url('../public/icons/skills/coffeescript-dark.svg')];
  }
  .coffeescript.colored {
    @apply bg-[url('../public/icons/skills/coffeescript-colored.svg')] dark:bg-[url('../public/icons/skills/coffeescript-colored-dark.svg')];
  }
  .dart {
    @apply bg-[url('../public/icons/skills/dart.svg')] dark:bg-[url('../public/icons/skills/dart-dark.svg')];
  }
  .dart.colored {
    @apply bg-[url('../public/icons/skills/dart-colored.svg')];
  }
  .git {
    @apply bg-[url('../public/icons/skills/git.svg')] dark:bg-[url('../public/icons/skills/git-dark.svg')];
  }
  .git.colored {
    @apply bg-[url('../public/icons/skills/git-colored.svg')];
  }
  .go {
    @apply bg-[url('../public/icons/skills/go.svg')] dark:bg-[url('../public/icons/skills/go-dark.svg')];
  }
  .go.colored {
    @apply bg-[url('../public/icons/skills/go-colored.svg')];
  }
  .java {
    @apply bg-[url('../public/icons/skills/java.svg')] dark:bg-[url('../public/icons/skills/java-dark.svg')];
  }
  .java.colored {
    @apply bg-[url('../public/icons/skills/java-colored.svg')];
  }
  .javascript {
    @apply bg-[url('../public/icons/skills/javascript.svg')] dark:bg-[url('../public/icons/skills/javascript-dark.svg')];
  }
  .javascript.colored {
    @apply bg-[url('../public/icons/skills/javascript-colored.svg')];
  }
  .kotlin {
    @apply bg-[url('../public/icons/skills/kotlin.svg')] dark:bg-[url('../public/icons/skills/kotlin-dark.svg')];
  }
  .kotlin.colored {
    @apply bg-[url('../public/icons/skills/kotlin-colored.svg')];
  }
  .perl {
    @apply bg-[url('../public/icons/skills/perl.svg')] dark:bg-[url('../public/icons/skills/perl-dark.svg')];
  }
  .perl.colored {
    @apply bg-[url('../public/icons/skills/perl-colored.svg')];
  }
  .php {
    @apply bg-[url('../public/icons/skills/php.svg')] dark:bg-[url('../public/icons/skills/php-dark.svg')];
  }
  .php.colored {
    @apply bg-[url('../public/icons/skills/php-colored.svg')];
  }
  .python {
    @apply bg-[url('../public/icons/skills/python.svg')] dark:bg-[url('../public/icons/skills/python-dark.svg')];
  }
  .python.colored {
    @apply bg-[url('../public/icons/skills/python-colored.svg')];
  }
  .rlang {
    @apply bg-[url('../public/icons/skills/rlang.svg')] dark:bg-[url('../public/icons/skills/rlang-dark.svg')];
  }
  .rlang.colored {
    @apply bg-[url('../public/icons/skills/rlang-colored.svg')];
  }
  .ruby {
    @apply bg-[url('../public/icons/skills/ruby.svg')] dark:bg-[url('../public/icons/skills/ruby-dark.svg')];
  }
  .ruby.colored {
    @apply bg-[url('../public/icons/skills/ruby-colored.svg')];
  }
  .rust {
    @apply bg-[url('../public/icons/skills/rust.svg')] dark:bg-[url('../public/icons/skills/rust-dark.svg')];
  }
  .rust.colored {
    @apply bg-[url('../public/icons/skills/rust-colored.svg')] dark:bg-[url('../public/icons/skills/rust-colored-dark.svg')];
  }
  .swift {
    @apply bg-[url('../public/icons/skills/swift.svg')] dark:bg-[url('../public/icons/skills/swift-dark.svg')];
  }
  .swift.colored {
    @apply bg-[url('../public/icons/skills/swift-colored.svg')];
  }
  .typescript {
    @apply bg-[url('../public/icons/skills/typescript.svg')] dark:bg-[url('../public/icons/skills/typescript-dark.svg')];
  }
  .typescript.colored {
    @apply bg-[url('../public/icons/skills/typescript-colored.svg')];
  }

  .html5 {
    @apply bg-[url('../public/icons/skills/html5.svg')] dark:bg-[url('../public/icons/skills/html5-dark.svg')];
  }
  .html5.colored {
    @apply bg-[url('../public/icons/skills/html5-colored.svg')];
  }
  .react {
    @apply bg-[url('../public/icons/skills/react.svg')] dark:bg-[url('../public/icons/skills/react-dark.svg')];
  }
  .react.colored {
    @apply bg-[url('../public/icons/skills/react-colored.svg')];
  }
  .nextjs {
    @apply bg-[url('../public/icons/skills/nextjs.svg')] dark:bg-[url('../public/icons/skills/nextjs-dark.svg')];
  }
  .nextjs.colored {
    @apply bg-[url('../public/icons/skills/nextjs-colored.svg')] dark:bg-[url('../public/icons/skills/nextjs-colored-dark.svg')];
  }
  .vuejs {
    @apply bg-[url('../public/icons/skills/vuejs.svg')] dark:bg-[url('../public/icons/skills/vuejs-dark.svg')];
  }
  .vuejs.colored {
    @apply bg-[url('../public/icons/skills/vuejs-colored.svg')];
  }
  .nuxtjs {
    @apply bg-[url('../public/icons/skills/nuxtjs.svg')] dark:bg-[url('../public/icons/skills/nuxtjs-dark.svg')];
  }
  .nuxtjs.colored {
    @apply bg-[url('../public/icons/skills/nuxtjs-colored.svg')];
  }
  .gatsby {
    @apply bg-[url('../public/icons/skills/gatsby.svg')] dark:bg-[url('../public/icons/skills/gatsby-dark.svg')];
  }
  .gatsby.colored {
    @apply bg-[url('../public/icons/skills/gatsby-colored.svg')];
  }
  .angularjs {
    @apply bg-[url('../public/icons/skills/angularjs.svg')] dark:bg-[url('../public/icons/skills/angularjs-dark.svg')];
  }
  .angularjs.colored {
    @apply bg-[url('../public/icons/skills/angularjs-colored.svg')];
  }
  .jquery {
    @apply bg-[url('../public/icons/skills/jquery.svg')] dark:bg-[url('../public/icons/skills/jquery-dark.svg')];
  }
  .jquery.colored {
    @apply bg-[url('../public/icons/skills/jquery-colored.svg')];
  }
  .css3 {
    @apply bg-[url('../public/icons/skills/css3.svg')] dark:bg-[url('../public/icons/skills/css3-dark.svg')];
  }
  .css3.colored {
    @apply bg-[url('../public/icons/skills/css3-colored.svg')];
  }
  .sass {
    @apply bg-[url('../public/icons/skills/sass.svg')] dark:bg-[url('../public/icons/skills/sass-dark.svg')];
  }
  .sass.colored {
    @apply bg-[url('../public/icons/skills/sass-colored.svg')];
  }
  .tailwindcss {
    @apply bg-[url('../public/icons/skills/tailwindcss.svg')] dark:bg-[url('../public/icons/skills/tailwindcss-dark.svg')];
  }
  .tailwindcss.colored {
    @apply bg-[url('../public/icons/skills/tailwindcss-colored.svg')];
  }
  .chakra {
    @apply bg-[url('../public/icons/skills/chakra.svg')] dark:bg-[url('../public/icons/skills/chakra-dark.svg')];
  }
  .chakra.colored {
    @apply bg-[url('../public/icons/skills/chakra-colored.svg')];
  }
  .bootstrap {
    @apply bg-[url('../public/icons/skills/bootstrap.svg')] dark:bg-[url('../public/icons/skills/bootstrap-dark.svg')];
  }
  .bootstrap.colored {
    @apply bg-[url('../public/icons/skills/bootstrap-colored.svg')];
  }
  .materialui {
    @apply bg-[url('../public/icons/skills/materialui.svg')] dark:bg-[url('../public/icons/skills/materialui-dark.svg')];
  }
  .materialui.colored {
    @apply bg-[url('../public/icons/skills/materialui-colored.svg')];
  }
  .redux {
    @apply bg-[url('../public/icons/skills/redux.svg')] dark:bg-[url('../public/icons/skills/redux-dark.svg')];
  }
  .redux.colored {
    @apply bg-[url('../public/icons/skills/redux-colored.svg')];
  }
  .webpack {
    @apply bg-[url('../public/icons/skills/webpack.svg')] dark:bg-[url('../public/icons/skills/webpack-dark.svg')];
  }
  .webpack.colored {
    @apply bg-[url('../public/icons/skills/webpack-colored.svg')];
  }
  .babel {
    @apply bg-[url('../public/icons/skills/babel.svg')] dark:bg-[url('../public/icons/skills/babel-dark.svg')];
  }
  .babel.colored {
    @apply bg-[url('../public/icons/skills/babel-colored.svg')] dark:bg-[url('../public/icons/skills/babel-colored-dark.svg')];
  }
  .svelte {
    @apply bg-[url('../public/icons/skills/svelte.svg')] dark:bg-[url('../public/icons/skills/svelte-dark.svg')];
  }
  .svelte.colored {
    @apply bg-[url('../public/icons/skills/svelte-colored.svg')];
  }
  .vite {
    @apply bg-[url('../public/icons/skills/vite.svg')] dark:bg-[url('../public/icons/skills/vite-dark.svg')];
  }
  .vite.colored {
    @apply bg-[url('../public/icons/skills/vite-colored.svg')];
  }
  .remix {
    @apply bg-[url('../public/icons/skills/remix.svg')] dark:bg-[url('../public/icons/skills/remix-dark.svg')];
  }
  .remix.colored {
    @apply bg-[url('../public/icons/skills/remix-colored.svg')] dark:bg-[url('../public/icons/skills/remix-colored-dark.svg')];
  }
  /** Scripting Icons **/
  .gnubash {
    @apply bg-[url('../public/icons/skills/gnubash.svg')] dark:bg-[url('../public/icons/skills/gnubash-dark.svg')];
  }
  .gnubash.colored {
    @apply bg-[url('../public/icons/skills/gnubash-colored.svg')];
  }
  /** Backend icons **/
  .nodejs {
    @apply bg-[url('../public/icons/skills/nodejs.svg')] dark:bg-[url('../public/icons/skills/nodejs-dark.svg')];
  }
  .nodejs.colored {
    @apply bg-[url('../public/icons/skills/nodejs-colored.svg')];
  }
  .express {
    @apply bg-[url('../public/icons/skills/express.svg')] dark:bg-[url('../public/icons/skills/express-dark.svg')];
  }
  .express.colored {
    @apply bg-[url('../public/icons/skills/express-colored.svg')] dark:bg-[url('../public/icons/skills/express-colored-dark.svg')];
  }
  .graphql {
    @apply bg-[url('../public/icons/skills/graphql.svg')] dark:bg-[url('../public/icons/skills/graphql-dark.svg')];
  }
  .graphql.colored {
    @apply bg-[url('../public/icons/skills/graphql-colored.svg')];
  }
  .oracle {
    @apply bg-[url('../public/icons/skills/oracle.svg')] dark:bg-[url('../public/icons/skills/oracle-dark.svg')];
  }
  .oracle.colored {
    @apply bg-[url('../public/icons/skills/oracle-colored.svg')];
  }
  .nestjs {
    @apply bg-[url('../public/icons/skills/nestjs.svg')] dark:bg-[url('../public/icons/skills/nestjs-dark.svg')];
  }
  .nestjs.colored {
    @apply bg-[url('../public/icons/skills/nestjs-colored.svg')];
  }
  .mongodb {
    @apply bg-[url('../public/icons/skills/mongodb.svg')] dark:bg-[url('../public/icons/skills/mongodb-dark.svg')];
  }
  .mongodb.colored {
    @apply bg-[url('../public/icons/skills/mongodb-colored.svg')];
  }
  .mysql {
    @apply bg-[url('../public/icons/skills/mysql.svg')] dark:bg-[url('../public/icons/skills/mysql-dark.svg')];
  }
  .mysql.colored {
    @apply bg-[url('../public/icons/skills/mysql-colored.svg')];
  }
  .postgresql {
    @apply bg-[url('../public/icons/skills/postgresql.svg')] dark:bg-[url('../public/icons/skills/postgresql-dark.svg')];
  }
  .postgresql.colored {
    @apply bg-[url('../public/icons/skills/postgresql-colored.svg')];
  }
  .firebase {
    @apply bg-[url('../public/icons/skills/firebase.svg')] dark:bg-[url('../public/icons/skills/firebase-dark.svg')];
  }
  .firebase.colored {
    @apply bg-[url('../public/icons/skills/firebase-colored.svg')];
  }
  .appwrite {
    @apply bg-[url('../public/icons/skills/appwrite.svg')] dark:bg-[url('../public/icons/skills/appwrite-dark.svg')];
  }
  .appwrite.colored {
    @apply bg-[url('../public/icons/skills/appwrite-colored.svg')] dark:bg-[url('../public/icons/skills/appwrite-colored-dark.svg')];
  }
  .heroku {
    @apply bg-[url('../public/icons/skills/heroku.svg')] dark:bg-[url('../public/icons/skills/heroku-dark.svg')];
  }
  .heroku.colored {
    @apply bg-[url('../public/icons/skills/heroku-colored.svg')];
  }
  .flask {
    @apply bg-[url('../public/icons/skills/flask.svg')] dark:bg-[url('../public/icons/skills/flask-dark.svg')];
  }
  .flask.colored {
    @apply bg-[url('../public/icons/skills/flask-colored.svg')] dark:bg-[url('../public/icons/skills/flask-colored-dark.svg')];
  }
  .render {
    @apply bg-[url('../public/icons/skills/render.svg')] dark:bg-[url('../public/icons/skills/render-dark.svg')];
  }
  .render.colored {
    @apply bg-[url('../public/icons/skills/render-colored.svg')];
  }
  /** Editor icons **/
  .visualstudiocode {
    @apply bg-[url('../public/icons/skills/visualstudiocode.svg')] dark:bg-[url('../public/icons/skills/visualstudiocode-dark.svg')];
  }
  .visualstudiocode.colored {
    @apply bg-[url('../public/icons/skills/visualstudiocode-colored.svg')];
  }
  .vim {
    @apply bg-[url('../public/icons/skills/vim.svg')] dark:bg-[url('../public/icons/skills/vim-dark.svg')];
  }
  .vim.colored {
    @apply bg-[url('../public/icons/skills/vim-colored.svg')];
  }
  .neovim {
    @apply bg-[url('../public/icons/skills/neovim.svg')] dark:bg-[url('../public/icons/skills/neovim-dark.svg')];
  }
  .neovim.colored {
    @apply bg-[url('../public/icons/skills/neovim-colored.svg')];
  }
  .sublimetext {
    @apply bg-[url('../public/icons/skills/sublimetext.svg')] dark:bg-[url('../public/icons/skills/sublimetext-dark.svg')];
  }
  .sublimetext.colored {
    @apply bg-[url('../public/icons/skills/sublimetext-colored.svg')];
  }
  .xcode {
    @apply bg-[url('../public/icons/skills/xcode.svg')] dark:bg-[url('../public/icons/skills/xcode-dark.svg')];
  }
  .xcode.colored {
    @apply bg-[url('../public/icons/skills/xcode-colored.svg')];
  }

  /** Software icons **/
  .photoshop {
    @apply bg-[url('../public/icons/skills/photoshop.svg')] dark:bg-[url('../public/icons/skills/photoshop-dark.svg')];
  }
  .photoshop.colored {
    @apply bg-[url('../public/icons/skills/photoshop-colored.svg')] dark:bg-[url('../public/icons/skills/photoshop-colored-dark.svg')];
  }
  .illustrator {
    @apply bg-[url('../public/icons/skills/illustrator.svg')] dark:bg-[url('../public/icons/skills/illustrator-dark.svg')];
  }
  .illustrator.colored {
    @apply bg-[url('../public/icons/skills/illustrator-colored.svg')] dark:bg-[url('../public/icons/skills/illustrator-colored-dark.svg')];
  }
  .aftereffects {
    @apply bg-[url('../public/icons/skills/aftereffects.svg')] dark:bg-[url('../public/icons/skills/aftereffects-dark.svg')];
  }
  .aftereffects.colored {
    @apply bg-[url('../public/icons/skills/aftereffects-colored.svg')] dark:bg-[url('../public/icons/skills/aftereffects-colored-dark.svg')];
  }
  .premierepro {
    @apply bg-[url('../public/icons/skills/premierepro.svg')] dark:bg-[url('../public/icons/skills/premierepro-dark.svg')];
  }
  .premierepro.colored {
    @apply bg-[url('../public/icons/skills/premierepro-colored.svg')] dark:bg-[url('../public/icons/skills/premierepro-colored-dark.svg')];
  }
  .xd {
    @apply bg-[url('../public/icons/skills/xd.svg')] dark:bg-[url('../public/icons/skills/xd-dark.svg')];
  }
  .xd.colored {
    @apply bg-[url('../public/icons/skills/xd-colored.svg')] dark:bg-[url('../public/icons/skills/xd-colored-dark.svg')];
  }
  .figma {
    @apply bg-[url('../public/icons/skills/figma.svg')] dark:bg-[url('../public/icons/skills/figma-dark.svg')];
  }
  .figma.colored {
    @apply bg-[url('../public/icons/skills/figma-colored.svg')];
  }
  .sketch {
    @apply bg-[url('../public/icons/skills/sketch.svg')] dark:bg-[url('../public/icons/skills/sketch-dark.svg')];
  }
  .sketch.colored {
    @apply bg-[url('../public/icons/skills/sketch-colored.svg')];
  }
  /** Web3 icons **/
  .fastapi {
    @apply bg-[url('../public/icons/skills/fastapi.svg')] dark:bg-[url('../public/icons/skills/fastapi-dark.svg')];
  }
  .fastapi.colored {
    @apply bg-[url('../public/icons/skills/fastapi-colored.svg')];
  }
  .supabase {
    @apply bg-[url('../public/icons/skills/supabase.svg')] dark:bg-[url('../public/icons/skills/supabase-dark.svg')];
  }
  .supabase.colored {
    @apply bg-[url('../public/icons/skills/supabase-colored.svg')];
  }
  .uniswap {
    @apply bg-[url('../public/icons/skills/uniswap.svg')] dark:bg-[url('../public/icons/skills/uniswap-dark.svg')];
  }
  .uniswap.colored {
    @apply bg-[url('../public/icons/skills/uniswap-colored.svg')];
  }
  .aave {
    @apply bg-[url('../public/icons/skills/aave.svg')] dark:bg-[url('../public/icons/skills/aave-dark.svg')];
  }
  .aave.colored {
    @apply bg-[url('../public/icons/skills/aave-colored.svg')];
  }
  .sushiswap {
    @apply bg-[url('../public/icons/skills/sushiswap.svg')] dark:bg-[url('../public/icons/skills/sushiswap-dark.svg')];
  }
  .sushiswap.colored {
    @apply bg-[url('../public/icons/skills/sushiswap-colored.svg')];
  }
  .metamask {
    @apply bg-[url('../public/icons/skills/metamask.svg')] dark:bg-[url('../public/icons/skills/metamask-dark.svg')];
  }
  .metamask.colored {
    @apply bg-[url('../public/icons/skills/metamask-colored.svg')];
  }
  .argent {
    @apply bg-[url('../public/icons/skills/argent.svg')] dark:bg-[url('../public/icons/skills/argent-dark.svg')];
  }
  .argent.colored {
    @apply bg-[url('../public/icons/skills/argent-colored.svg')];
  }
  .nansen {
    @apply bg-[url('../public/icons/skills/nansen.svg')] dark:bg-[url('../public/icons/skills/nansen-dark.svg')];
  }
  .nansen.colored {
    @apply bg-[url('../public/icons/skills/nansen-colored.svg')];
  }
  .chainlink {
    @apply bg-[url('../public/icons/skills/chainlink.svg')] dark:bg-[url('../public/icons/skills/chainlink-dark.svg')];
  }
  .chainlink.colored {
    @apply bg-[url('../public/icons/skills/chainlink-colored.svg')];
  }
  .the-graph {
    @apply bg-[url('../public/icons/skills/the-graph.svg')] dark:bg-[url('../public/icons/skills/the-graph-dark.svg')];
  }
  .the-graph.colored {
    @apply bg-[url('../public/icons/skills/the-graph-colored.svg')];
  }
  .ethers {
    @apply bg-[url('../public/icons/skills/ethers.svg')] dark:bg-[url('../public/icons/skills/ethers-dark.svg')];
  }
  .ethers.colored {
    @apply bg-[url('../public/icons/skills/ethers-colored.svg')];
  }
  .web3js {
    @apply bg-[url('../public/icons/skills/web3js.svg')] dark:bg-[url('../public/icons/skills/web3js-dark.svg')];
  }
  .web3js.colored {
    @apply bg-[url('../public/icons/skills/web3js-colored.svg')];
  }
  .alchemy {
    @apply bg-[url('../public/icons/skills/alchemy.svg')] dark:bg-[url('../public/icons/skills/alchemy-dark.svg')];
  }
  .alchemy.colored {
    @apply bg-[url('../public/icons/skills/alchemy-colored.svg')];
  }
  .hardhat {
    @apply bg-[url('../public/icons/skills/hardhat.svg')] dark:bg-[url('../public/icons/skills/hardhat-dark.svg')];
  }
  .hardhat.colored {
    @apply bg-[url('../public/icons/skills/hardhat-colored.svg')];
  }
  .truffle {
    @apply bg-[url('../public/icons/skills/truffle.svg')] dark:bg-[url('../public/icons/skills/truffle-dark.svg')];
  }
  .truffle.colored {
    @apply bg-[url('../public/icons/skills/truffle-colored.svg')];
  }
  .ipfs {
    @apply bg-[url('../public/icons/skills/ipfs.svg')] dark:bg-[url('../public/icons/skills/ipfs-dark.svg')];
  }
  .ipfs.colored {
    @apply bg-[url('../public/icons/skills/ipfs-colored.svg')] dark:bg-[url('../public/icons/skills/ipfs-colored-dark.svg')];
  }
  .filebase {
    @apply bg-[url('../public/icons/skills/filebase.svg')] dark:bg-[url('../public/icons/skills/filebase-dark.svg')];
  }
  .filebase.colored {
    @apply bg-[url('../public/icons/skills/filebase-colored.svg')];
  }
  .arweave {
    @apply bg-[url('../public/icons/skills/arweave.svg')] dark:bg-[url('../public/icons/skills/arweave-dark.svg')];
  }
  .arweave.colored {
    @apply bg-[url('../public/icons/skills/arweave-colored.svg')] dark:bg-[url('../public/icons/skills/arweave-colored-dark.svg')];
  }
  .ethereum {
    @apply bg-[url('../public/icons/skills/ethereum.svg')] dark:bg-[url('../public/icons/skills/ethereum-dark.svg')];
  }
  .ethereum.colored {
    @apply bg-[url('../public/icons/skills/ethereum-colored.svg')];
  }
  .polygon {
    @apply bg-[url('../public/icons/skills/polygon.svg')] dark:bg-[url('../public/icons/skills/polygon-dark.svg')];
  }
  .polygon.colored {
    @apply bg-[url('../public/icons/skills/polygon-colored.svg')];
  }
  .arbitrum {
    @apply bg-[url('../public/icons/skills/arbitrum.svg')] dark:bg-[url('../public/icons/skills/arbitrum-dark.svg')];
  }
  .arbitrum.colored {
    @apply bg-[url('../public/icons/skills/arbitrum-colored.svg')];
  }
  .avalanche {
    @apply bg-[url('../public/icons/skills/avalanche.svg')] dark:bg-[url('../public/icons/skills/avalanche-dark.svg')];
  }
  .avalanche.colored {
    @apply bg-[url('../public/icons/skills/avalanche-colored.svg')];
  }
  .near {
    @apply bg-[url('../public/icons/skills/near.svg')] dark:bg-[url('../public/icons/skills/near-dark.svg')];
  }
  .near.colored {
    @apply bg-[url('../public/icons/skills/near-colored.svg')] dark:bg-[url('../public/icons/skills/near-colored-dark.svg')];
  }
  .flow {
    @apply bg-[url('../public/icons/skills/flow.svg')] dark:bg-[url('../public/icons/skills/flow-dark.svg')];
  }
  .flow.colored {
    @apply bg-[url('../public/icons/skills/flow-colored.svg')];
  }
  .solana {
    @apply bg-[url('../public/icons/skills/solana.svg')] dark:bg-[url('../public/icons/skills/solana-dark.svg')];
  }
  .solana.colored {
    @apply bg-[url('../public/icons/skills/solana-colored.svg')];
  }
  .terra {
    @apply bg-[url('../public/icons/skills/terra.svg')] dark:bg-[url('../public/icons/skills/terra-dark.svg')];
  }
  .terra.colored {
    @apply bg-[url('../public/icons/skills/terra-colored.svg')];
  }
  /** Cloud icons **/
  .googlecloud {
    @apply bg-[url('../public/icons/skills/googlecloud.svg')] dark:bg-[url('../public/icons/skills/googlecloud-dark.svg')];
  }
  .googlecloud.colored {
    @apply bg-[url('../public/icons/skills/googlecloud-colored.svg')];
  }
  /** CMS icons **/
  .framer {
    @apply bg-[url('../public/icons/skills/framer.svg')] dark:bg-[url('../public/icons/skills/framer-dark.svg')];
  }
  .framer.colored {
    @apply bg-[url('../public/icons/skills/framer-colored.svg')];
  }
  .squarespace {
    @apply bg-[url('../public/icons/skills/squarespace.svg')] dark:bg-[url('../public/icons/skills/squarespace-dark.svg')];
  }
  .squarespace.colored {
    @apply bg-[url('../public/icons/skills/squarespace-colored.svg')] dark:bg-[url('../public/icons/skills/squarespace-colored-dark.svg')];
  }
  .wix {
    @apply bg-[url('../public/icons/skills/wix.svg')] dark:bg-[url('../public/icons/skills/wix-dark.svg')];
  }
  .wix.colored {
    @apply bg-[url('../public/icons/skills/wix-colored.svg')];
  }
  .wordpress {
    @apply bg-[url('../public/icons/skills/wordpress.svg')] dark:bg-[url('../public/icons/skills/wordpress-dark.svg')];
  }
  .wordpress.colored {
    @apply bg-[url('../public/icons/skills/wordpress-colored.svg')];
  }
  /** Other icons **/
  .dot-net {
    @apply bg-[url('../public/icons/skills/dot-net.svg')] dark:bg-[url('../public/icons/skills/dot-net-dark.svg')];
  }
  .dot-net.colored {
    @apply bg-[url('../public/icons/skills/dot-net-colored.svg')];
  }
  .django {
    @apply bg-[url('../public/icons/skills/django.svg')] dark:bg-[url('../public/icons/skills/django-dark.svg')];
  }
  .django.colored {
    @apply bg-[url('../public/icons/skills/django-colored.svg')] dark:bg-[url('../public/icons/skills/django-colored-dark.svg')];
  }
  .laravel {
    @apply bg-[url('../public/icons/skills/laravel.svg')] dark:bg-[url('../public/icons/skills/laravel-dark.svg')];
  }
  .laravel.colored {
    @apply bg-[url('../public/icons/skills/laravel-colored.svg')];
  }
  .flutter {
    @apply bg-[url('../public/icons/skills/flutter.svg')] dark:bg-[url('../public/icons/skills/flutter-dark.svg')];
  }
  .flutter.colored {
    @apply bg-[url('../public/icons/skills/flutter-colored.svg')];
  }
  .aws {
    @apply bg-[url('../public/icons/skills/aws.svg')] dark:bg-[url('../public/icons/skills/aws-dark.svg')];
  }
  .aws.colored {
    @apply bg-[url('../public/icons/skills/aws-colored.svg')];
  }
  .arduino {
    @apply bg-[url('../public/icons/skills/arduino.svg')] dark:bg-[url('../public/icons/skills/arduino-dark.svg')];
  }
  .arduino.colored {
    @apply bg-[url('../public/icons/skills/arduino-colored.svg')];
  }
  .blender {
    @apply bg-[url('../public/icons/skills/blender.svg')] dark:bg-[url('../public/icons/skills/blender-dark.svg')];
  }
  .blender.colored {
    @apply bg-[url('../public/icons/skills/blender-colored.svg')];
  }
  .digitalocean {
    @apply bg-[url('../public/icons/skills/digitalocean.svg')] dark:bg-[url('../public/icons/skills/digitalocean-dark.svg')];
  }
  .digitalocean.colored {
    @apply bg-[url('../public/icons/skills/digitalocean-colored.svg')];
  }
  .docker {
    @apply bg-[url('../public/icons/skills/docker.svg')] dark:bg-[url('../public/icons/skills/docker-dark.svg')];
  }
  .docker.colored {
    @apply bg-[url('../public/icons/skills/docker-colored.svg')];
  }
  .linux {
    @apply bg-[url('../public/icons/skills/linux.svg')] dark:bg-[url('../public/icons/skills/linux-dark.svg')];
  }
  .linux.colored {
    @apply bg-[url('../public/icons/skills/linux-colored.svg')];
  }
  .macos {
    @apply bg-[url('../public/icons/skills/macos.svg')] dark:bg-[url('../public/icons/skills/macos-dark.svg')];
  }
  .macos.colored {
    @apply bg-[url('../public/icons/skills/macos-colored.svg')] dark:bg-[url('../public/icons/skills/macos-colored-dark.svg')];
  }
  .pytorch {
    @apply bg-[url('../public/icons/skills/pytorch.svg')] dark:bg-[url('../public/icons/skills/pytorch-dark.svg')];
  }
  .pytorch.colored {
    @apply bg-[url('../public/icons/skills/pytorch-colored.svg')];
  }
  .raspberrypi {
    @apply bg-[url('../public/icons/skills/raspberrypi.svg')] dark:bg-[url('../public/icons/skills/raspberrypi-dark.svg')];
  }
  .raspberrypi.colored {
    @apply bg-[url('../public/icons/skills/raspberrypi-colored.svg')];
  }
  .tensorflow {
    @apply bg-[url('../public/icons/skills/tensorflow.svg')] dark:bg-[url('../public/icons/skills/tensorflow-dark.svg')];
  }
  .tensorflow.colored {
    @apply bg-[url('../public/icons/skills/tensorflow-colored.svg')];
  }
}

/*-----------------------
CHANGELOG STYLES
-----------------------*/
@layer components {
  .btn-new {
    @apply bg-emerald-500/10 px-1.5 py-1 text-xs font-semibold rounded-md border border-emerald-500/30 text-emerald-900 dark:text-white transition-all duration-150 ease-in-out;
  }

  .btn-updated {
    @apply bg-blue-500/10 px-1.5 py-1 text-xs font-semibold rounded-md border border-blue-500/30 text-blue-800 dark:text-white transition-all duration-150 ease-in-out;
  }

  .btn-fixed {
    @apply bg-yellow-500/10 px-1.5 py-1 text-xs font-semibold rounded-md border border-yellow-500/30 text-yellow-800 dark:text-white transition-all duration-150 ease-in-out;
  }
}

/**********************/
/*     Animations     */
/**********************/
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
